@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --height-header: 60px;
  --padding-x-container-desktop: 3rem;
  --padding-x-container-mobile: 1.5rem;
}
@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-black text-white min-h-screen flex flex-col;
  }
}

.pin_container {
  margin: 0;
  padding: 0;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  background-color: black;
}
